# Summary Python Adrien Cardinale

## Data Structure

### Scalar

In [ ]:
int = 42
float = 3.14159
complex = 1 + 2j
string = "Hello World"
boolean = True
status = None

We don't have to declare the type of the variable, the type is automatically assigned.

### Container

In [ ]:
List = [1, 2, 3, 4, 5]
print(f"The last element of the list is {List[-1]}")
print(f"All the elements of the list are {List[:-1]}")
print(f"The second and third elements of the list are {list[1:3]}")
print(f"All the elements with a step of 2 are {List[::2]}")
# any and all examples
print(any([i > 3 for i in List]))
print(all([i > 3 for i in List]))
for i in List:
    print(i)

In [ ]:
tuple = (1, 2, 3, 4, 5)
hash = tuple.__hash__()
print(4 in tuple)
# tuple[0] = 0 # Error

In [ ]:
dictionary = {"key1": "value1", "key2": "value2"}
print(f"The dictionary {dictionary.items()}")
print(f"The key {dictionary.keys()}")
print(f"The value {dictionary.values()}")
print(f"The key is hashable {dictionary['key1'].__hash__()}")

In [ ]:
set = {1, 2, 3, 4, 5}
print(f"The set {set}")
set.add(6)
print(f"The set {set}")

In [ ]:
from collections import namedtuple
nTuple = namedtuple("namTuple", ["key1", "key2"])
nTuple = nTuple("value1", "value2")
print(f"The named tuple {nTuple}")
print(f"The named tuple {nTuple.key1}")

In [ ]:
a = 1
b = 2
a, b = b, a
print(f"The value of a is {a} and the value of b is {b}")

In [ ]:
for i, v in enumerate(List):
    print(f"The index is {i} and the value is {v}")

firstnames = ['John', 'Emmet', 'Luke']
lastnames = ['Doe', 'Brown', 'Skywalker']
print(list(zip(firstnames, lastnames)))
print([' '.join(x) for x in list(zip(firstnames, lastnames))])
print(list(map(lambda x: ' '.join(x), zip(firstnames, lastnames))))
print(list(filter(lambda x: x%3, [1,2,3,4,5,6,7])))

## Operators of dereferencing

In [ ]:
def operate(a, b, **kwargs):
        if 'add' in kwargs:
            print(f"{a}+{b}={a+b}")
        if 'sub' in kwargs:
            print(f"{a}-{b}={a-b}")
operate(23,42)
operate(23,42,add=True)
operate(23,42,add=True, sub=True)

## Class

In [ ]:
class MyClass:
    def __init__(self, value):
        """
        This is the constructor of the class
        """
        self.value = value
    def __next__(self):
        """
        This method return the next value
        """
        return self.value + 1
    def __iter__(self):
        """
        This method return the iterator
        """
        return self
    def __getitem__(self, index):
        """
        This method return the item at the index
        """
        return self.value[index]
    @property # property decorator to make the method a property of the class (getter)
    def value(self):
        """
        This method return the value
        """
        return self._value
    @value.setter # setter decorator to make the method a setter of the class
    def value(self, value):
        """
        This method set the value
        """
        self._value = value

## Open file

In [ ]:
fp = open("file.txt", "r") # w: write, r: read, a: append
fp.read()
fp.readline()
fp.readlines()
fp.close()

with open("file.txt", "w") as fp: # with open automatically close the file
    fp.write("Hello World")

## NumPy

In [ ]:
import numpy as np
a = np.arange(1, 10)
print(a)
b = np.arange(1, 10, 2)
print(b)
c = np.linspace(1, 10, 10)
print(c)
d = np.zeros((2, 3))
print(d)
e = np.ones((2, 3))
print(e)
a2 = a[:, np.newaxis]
print(a2)
print(a2 * b)

## Click

In [ ]:
import click

@click.group()
def cli():
    pass

@cli.command()
@click.argument('a', type=float, nargs=1, required=True)
@click.argument('b', type=float, default=0.0)
@click.argument('c', type=float)
def quad(a, b, c):
    delta = b**2 - 4*a*c
    # Display x1 and x2 even if complex
    x1 = (-b + delta**0.5) / (2*a)
    x2 = (-b - delta**0.5) / (2*a)
    click.echo(f'x1 = {x1}')
    click.echo(f'x2 = {x2}')
    
if __name__ == '__main__':
    quad()

## Pandas

In [29]:
import pandas as pd
df = pd.DataFrame({'a': [1, 2, 3], 'b': [4, 5, 6]})
df.describe()

         a    b
count  3.0  3.0
mean   2.0  5.0
std    1.0  1.0
min    1.0  4.0
25%    1.5  4.5
50%    2.0  5.0
75%    2.5  5.5
max    3.0  6.0

In [28]:
df.head()

   a  b
0  1  4
1  2  5
2  3  6

In [30]:
df.loc[df['a'].isin([1, 3]), ['a', 'b']]

   a  b
0  1  4
2  3  6